.root{
    -fx-background-image:  url("../img/Binary_code_background.jpg");
    -fx-background-size: 100% 100%;
    -fx-control-inner-background: transparent;
    -fx-font-weight: bold;
}
.text-field{
    -fx-control-inner-background: #035ea4;
}

.ListView {
	-fx-background-color: #035ea4;
}

.button {
    -fx-background-color: #91f103;
}
.button:hover {
    -fx-background-color: #06d068;
}

.text-area {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

